html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: $base-font;
  background-color: white;
}
.page-wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-content {
  flex-grow: 1;
  padding-left: 4.166666666666666vw;
  padding-right :4.166666666666666vw;
}
