<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/app.js"></script>
  <link rel="stylesheet" href="static/css/app.css">
</head>
<body>
  <div class="page-wrap">
    <header class="main-header main-header--main-page">
      <a href="passport_stream" id="passport_icon" class="passport_stream_icon">
      </a>
      <a href="create_id" class="main-button main-button--white">
        Create ID
      </a>
      <div class="main-header__right-col main-header__right-col--main-page">
        <img src="static/img/icons/visionlab.png" alt="" class="main-header__right-col-img">
        <img src="static/img/icons/connect.png" id="connectID_logo" alt="" class="main-header__right-col-img">
      </div>
    </header>
    <div class="main-content main-content--main-page">
      <div class="main-page__col main-page__col--phone">
        <a href="mobile" class="main-page__col-link">
          <span class="main-page__col-link-content">
            <span class="main-page__col-link-ico-wrap">
              <img src="static/img/icons/phone.png" alt="" class="main-page__col-link-ico">
            </span>
            <span class="main-page__col-link-text">
              Mobile Recognition
            </span>
          </span>
        </a>
      </div>
      <div class="main-page__col main-page__col--web">
        <a href="browser" class="main-page__col-link">
          <span class="main-page__col-link-content">
            <span class="main-page__col-link-ico-wrap">
              <img src="static/img/icons/webcam.png" alt="" class="main-page__col-link-ico">
            </span>
            <span class="main-page__col-link-text">
              Web Browser Recognition
            </span>
          </span>
        </a>
      </div>
      <div class="main-page__col main-page__col--peoples">
        <a href="video_stream" class="main-page__col-link">
          <span class="main-page__col-link-content">
            <span class="main-page__col-link-ico-wrap">
              <img src="static/img/icons/cam.png" alt="" class="main-page__col-link-ico">
            </span>
            <span class="main-page__col-link-text">
              Video Stream Recognition
            </span>
          </span>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
