<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>

  <link rel="stylesheet" href="static/css/app.css">

  <script type="text/javascript" src="/static/js/socket.io.min.js"></script>
  <script src="/static/js/websocket.js"></script>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/app.js"></script>
</head>
<body>
  <div class="page-wrap">
    <header class="main-header">
      <div class="main-header__left-col">
        <a href="/" class="main-header__back-btn">
          <span class="main-header__back-btn-ico"></span>
          Mobile Recognition
        </a>
      </div>
      <div class="main-header__right-col">
        <img src="static/img/icons/visionlab.png" alt="" class="main-header__right-col-img">
        <img src="static/img/icons/connect.png" id="connectID_logo" alt="" class="main-header__right-col-img">
      </div>
    </header>
    <div class="main-content main-content--mobile">
      <div class="recognition-block">
        <h5 class="recognition-block__text">
            Please use mobile phone to continue
        </h5>
      </div>
    </div>
  </div>
  <script>initSockets("{{namespace}}", "mobile_room");</script>
</body>
</html>
