[Unit]
Description=Luna Statistic Server service
After=network.target

[Service]
Restart=always
RestartSec=5
WorkingDirectory=/var/lib/luna/current/luna-stat-server
ExecStart=/var/lib/luna/current/luna-stat-server/venv/bin/python3 /var/lib/luna/current/luna-stat-server/run.py sm --port 5008

[Install]
WantedBy=multi-user.target

