.main-input__text {
  display: block;
  width: 100%;
  margin-bottom: 5rem;
  font-family: $base-font;
  font-size: 7rem;
  text-align: center;
  border: none;
  outline: none;
  color: $base-color;
  &::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .1);
  }
  &::-moz-placeholder          {
    color: rgba(0, 0, 0, .1);
  }
  &:-ms-input-placeholder      {
    color: rgba(0, 0, 0, .1);
  }
}
